---
layout: default
title: Categories
permalink: /categories/
---

<section class="blog" id="navblog">
  <header class="head">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-lg-12">
          <h2 class="title">Categories</h2>
          <h4 class="sub-title">I Write My Thoughts Here</h4>
        </div>
      </div>
    </div>
  </header>

  <div class="padding-block">
    <div class="container">
      <div class="categories row" style="display: flex; flex-wrap: wrap">
        {% for category in site.categories %}
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="archive-group">
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <div id="#{{ category_name | slugize }}"></div>
            <p></p>

            <h3 class="category-head">{{ category_name }}</h3>
            <a name="{{ category_name | slugize }}"></a>
            {% for post in site.categories[category_name] %}
            <article class="archive-item">
              <h4>
                <a href="{{ site.url }}{{ post.url }}">{{post.title}}</a>
              </h4>
            </article>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
