<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-2">
        <a href="tel:{{ site.author.phone_number }}" class="hover-animate">
          <span class="icons hover-animate">
            <i class="fa fa-phone"></i>
          </span>
          {{ site.author.phone_number }}
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <a href="mailto:{{ site.author.email }}" class="hover-animate fl-r">
          <span class="icons hover-animate">
            <i class="fa fa-envelope"></i>
          </span>
          {{ site.author.email }}
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-2">
        <span class="icons">
          <i class="fa fa-map-marker"></i>
        </span>
        {{ site.author.location }}
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-5 text-right">
        <span class="copyright fl-r"
          >{{ site.author.name }} &copy; {{ site.time | date: '%Y' }} All Rights
          Reserved</span
        >
      </div>
    </div>
  </div>
</footer>
