<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {% if page.id == "categories" %}
  <meta name="robots" content="noindex" />
  {% endif %}

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />

  <meta name="msapplication-TileColor" content="#1a1a1a" />
  <meta name="theme-color" content="#ffffff" />

  {% seo %}

  <meta
    name="twitter:description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
  />

  <meta
    name="twitter:image"
    content="{{ '/assets/img/avatar.jpg' | prepend: site.baseurl | prepend: site.url }}"
  />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ '/assets/img/apple-touch-icon.png' | prepend: site.baseurl | prepend: site.url }}"
  />

  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ '/assets/img/favicon-32x32.png' | prepend: site.baseurl | prepend: site.url }}"
  />

  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ '/assets/img/favicon-16x16.png' | prepend: site.baseurl | prepend: site.url }}"
  />

  <link
    rel="manifest"
    href="{{ '/assets/img/site.webmanifest' | prepend: site.baseurl | prepend: site.url }}"
  />

  <link
    rel="mask-icon"
    href="{{ '/assets/img/safari-pinned-tab.svg' | prepend: site.baseurl | prepend: site.url }}"
    color="#1a1a1a"
  />

  <link
    rel="shortcut icon"
    href="{{ '/assets/img/favicon.ico' | prepend: site.baseurl | prepend: site.url }}"
  />

  <link
    type="text/css"
    rel="stylesheet"
    media="all"
    href="{{
      '/assets/fonts/font-awesome/css/font-awesome.min.css'
        | prepend: site.baseurl
        | prepend: site.url
    }}"
  />

  <link
    type="text/css"
    rel="stylesheet"
    media="all"
    href="{{
      '/assets/css/bootstrap.min.css'
        | prepend: site.baseurl
        | prepend: site.url
    }}"
  />

  <link
    type="text/css"
    rel="stylesheet"
    href="{{
      '/assets/fancybox/source/jquery.fancybox.min.css?v=2.1.5'
        | prepend: site.baseurl
        | prepend: site.url
    }}"
    media="screen"
  />

  <link
    type="text/css"
    rel="stylesheet"
    href="{{
      '/assets/css/owl.carousel.min.css' | prepend: site.baseurl | prepend: site.url
    }}"
  />

  <link
    type="text/css"
    rel="stylesheet"
    href="{{
      '/assets/css/owl.theme.min.css' | prepend: site.baseurl | prepend: site.url
    }}"
  />

  <link
    type="text/css"
    rel="stylesheet"
    media="all"
    href="{{
      '/assets/css/animate.min.css' | prepend: site.baseurl | prepend: site.url
    }}"
  />

  <link
    type="text/css"
    rel="stylesheet"
    media="all"
    href="{{
      '/assets/css/syntax.min.css' | prepend: site.baseurl | prepend: site.url
    }}"
  />

  <link
    type="text/css"
    rel="stylesheet"
    media="all"
    href="{{
      '/assets/css/style.min.css' | prepend: site.baseurl | prepend: site.url
    }}"
  />

  <link
    type="text/css"
    rel="stylesheet"
    media="all"
    href="{{
      '/assets/css/theme.min.css' | prepend: site.baseurl | prepend: site.url
    }}"
  />

  <link
    type="text/css"
    rel="stylesheet"
    media="all"
    href="{{
      '/assets/css/respons.min.css' | prepend: site.baseurl | prepend: site.url
    }}"
  />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link
    rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css?family=Questrial&display=swap"
  />

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Questrial&display=swap"
    media="print"
    onload="this.media='all'"
  />

  <noscript>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Questrial&display=swap"
    />
  </noscript>

  {% if site.development == false %} {% if site.google.analytics %}
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(
      window,
      document,
      'script',
      'dataLayer',
      '{{ site.google.tag_manager }}'
    );
  </script>
  {% endif %} {% endif %} {% if site.google.ad_client %} {% if site.development
  == false %}
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.google.ad_client }}"
    crossorigin="anonymous"
  ></script>
  {% endif %} {% endif %}
</head>
