{% assign active = page.url | downcase | split: '/' %}

<div class="navbar-wrapper" role="navigation">
  <div class="container navigation-top">
    <div class="navwrapper">
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="menuItem {% if active[1] == null %}active{% endif %}">
              <a href="/">Profile</a>
            </li>

            <li
              class="menuItem {% if active[1] == 'resume' %}active{% endif %}"
            >
              <a
                href="{{
                  '/resume' | prepend: site.baseurl | prepend: site.url
                }}"
              >
                Resume
              </a>
            </li>

            <li
              class="menuItem {% if active[1] == 'portfolio' %}active{% endif %}"
            >
              <a
                href="{{
                  '/portfolio' | prepend: site.baseurl | prepend: site.url
                }}"
              >
                Portfolio
              </a>
            </li>

            <li class="menuItem {% if active[1] == 'blog' %}active{% endif %}">
              <a href="https://caffeinealgorithm.com/" target="_blank">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
