<div class="col-xs-12 col-sm-12 col-lg-12 pagination">
  {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
  <a
    class="btn btn-color-hover previous"
    href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}"
  >
    ←
  </a>
  {% else %}
  <a
    class="btn btn-color-hover previous"
    href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}/page/{{
      paginator.previous_page
    }}/"
  >
    ←
  </a>
  {% endif %} {% endif %}

  <span class="page">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>

  {% if paginator.next_page %}
  <a
    class="btn btn-color-hover next"
    href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}/page/{{ paginator.next_page }}/"
  >
    →
  </a>
  {% endif %}
</div>
