{% if include.pageurl != nil and include.pageurl != '' %}
    {% assign pageurl = include.pageurl %}
{% else %}
    {% assign pageurl = page.url %}
{% endif %}

<ul id="share-buttons" class="share animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
  <li class="facebook">
    <a
      href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
      title="Partilhar no Facebook">
      <i class="fa fa-facebook"></i>
    </a>
  </li>
  <li class="twitter">
    <a
      href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
      title="Partilhar no Twitter">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  <li class="linkedin">
    <a
      href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
      title="Partilhar no LinkedIn">
      <i class="fa fa-linkedin"></i>
    </a>
  </li>
  <li class="reddit">
    <a
      href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
      title="Partilhar no Reddit">
      <i class="fa fa-reddit-alien"></i>
    </a>
  </li>
  <li class="email">
    <a
      href="mailto:?subject={{ page.title }}&amp;body={{ site.url }}{{ site.baseurl }}{{ page.url }}"
      title="Partilhar por Email"
      ><i class="fa fa-envelope"></i
    ></a>
  </li>
</ul>
