.code {
  counter-reset: listing;
}

xmp {
  counter-increment: listing;
}

.code xmp:before {
  content: counter(listing) '. ';
  color: gray;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

#features {
  max-width: none;
}

.row.featurette {
  padding: 0 80px;
  margin-right: 0px;
  margin-left: 0px;
}

.row.featurette:nth-child(even) {
  background: #e6f1fa;
  padding-bottom: 50px;
}

.isStuck {
  left: 0px;
  width: 100%;
}

.navbar-wrapper {
  margin-top: 20px;
  position: relative;
  z-index: 15;
}

.navbar.navbar-inverse.navbar-static-top {
  background: #5cb85c;
  border-color: #398439;
}

.navbar.navbar-inverse.navbar-static-top a {
  color: #fff;
}

.navbar.navbar-inverse.navbar-static-top a:hover {
  color: #0a64a4;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #398439;
  font-weight: 700;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  background: #398439;
  color: #fff;
  font-weight: 700;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 450px;
  background-color: #0a64a4;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
