:root {
  --text: #333;
  --bg: #f5f5f5;

  --toggle-width: 30em;
  --toggle-height: 16em;
  --toggle-button-radius: 10em;
  --toggle-moon-bg: #d9fbff;
  --toggle-night-bg: #111;

  --sidebar-text: #707070;
  --sidebar-text-hover: #333;
  --sidebar-title-text: #333;

  --circle-text: #00b6f9;
  --circle-bg: #e3e3e3;
  --circle-inside-bg: #00b6f9;

  --navigation-text: #333;
  --navigation-bg: #fff;
  --navigation-border: #fff;

  --pagination-text: #1a1a1a;
  --pagination-bg: #f5f5f5;
  --pagination-border: #ddd;

  --owl-controls-text: #1a1a1a;
  --owl-controls-bg: #f5f5f5;
  --owl-controls-border: #ddd;

  --icon-text: #1a1a1a;
  --icon-bg: #f5f5f5;
  --icon-border: #ddd;

  --blog-text: #707070;
  --blog-tag-text: #333;
  --blog-date-text: #707070;

  --blue: #00b6f9;
  --blue-hover: #068cd6;

  --content-bg: #fff;
  --content-border: #ddd;

  --fancybox-text: #333;
  --fancybox-action: #111;

  --categories-text: #707070;
  --categories-text-hover: #111;

  --post-divider-bg: #e3e3e3;

  --star-border: #ccc;

  --bold-text: #444;

  --shadow: #aaa;
}

* {
  font-family: 'Questrial', Helvetica, Arial, sans-serif;
  font-weight: 300;
  user-select: text;
}

body {
  font-size: 17px;
  line-height: 24px;
  margin: 0 auto;
}

.dark {
  --text: #fff;
  --bg: #1a1a1a;

  --sidebar-text: #aaa;
  --sidebar-text-hover: #fff;
  --sidebar-title-text: #fff;

  --circle-text: #fff;
  --circle-bg: #1a1a1a;
  --circle-inside-bg: #00b6f9;

  --navigation-text: #fff;
  --navigation-bg: #111;
  --navigation-border: #111;

  --pagination-text: #111;
  --pagination-bg: #fff;
  --pagination-border: #111;

  --owl-controls-text: #111;
  --owl-controls-bg: #fff;
  --owl-controls-border: #111;

  --icon-text: #111;
  --icon-bg: #fff;
  --icon-border: #222;

  --blog-text: #aaa;
  --blog-tag-text: #fff;
  --blog-date-text: #aaa;

  --blue: #00b6f9;
  --blue-hover: #068cd6;

  --content-bg: #111;
  --content-border: #222;

  --fancybox-text: #fff;
  --fancybox-action: #fff;

  --categories-text: #bbb;
  --categories-text-hover: #fff;

  --post-divider-bg: #222;

  --star-border: #00b6f9;

  --bold-text: #fff;

  --shadow: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 66px;
  line-height: 72px;
  margin-top: 48px;
  margin-bottom: 24px;
}

h2 {
  font-size: 41px;
  line-height: 48px;
  margin-top: 48px;
  margin-bottom: 24px;
}

h3 {
  font-size: 26px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h4 {
  font-size: 17px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

p,
pre,
table,
blockquote {
  margin-top: 12px;
  margin-bottom: 24px;
}

ol,
ul {
  margin-top: -5px;
  margin-bottom: 18px;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

b,
strong,
em,
small,
code {
  line-height: 1;
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  background-color: transparent;
}

code > span {
  font-family: monospace;
  line-height: 1.7;
  font-size: 14px;
}

table {
  margin: 0;
  padding: 0;
}

#toggle {
  position: fixed;
  top: 1px;
  right: 45px;
  z-index: 9999;
  box-shadow: rgb(0 0 0 / 32%) 0px 2px 4px, rgb(0 0 0 / 0%) 0px 7px 13px -3px,
    rgb(0 0 0 / 0%) 0px -3px 0px inset;
}

.dark #toggle {
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px,
    rgb(0 0 0 / 2%) 0px -3px 0px inset;
}

.toggle {
  font-size: 16%;
  margin-top: 10em;
  position: relative;
  height: var(--toggle-height);
  width: var(--toggle-width);
  border-radius: var(--toggle-height);
  transition: all 500ms ease-in-out;
  background: var(--toggle-night-bg);
}

.day {
  background: #ffc900;
}

.moon {
  position: absolute;
  display: block;
  border-radius: 50%;
  transition: all 400ms ease-in-out;

  top: 3em;
  left: 3em;
  transform: rotate(-75deg);
  width: var(--toggle-button-radius);
  height: var(--toggle-button-radius);
  background: var(--toggle-night-bg);
  box-shadow: 3em 2.5em 0 0em var(--toggle-moon-bg) inset,
    rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
    rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em,
    rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}
.sun {
  top: 4.5em;
  left: 18em;
  transform: rotate(0deg);
  width: 7em;
  height: 7em;
  background: #fff;
  box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff,
    3.5em -3.5em 0 -3em #fff, 5em 0 0 -2.7em #fff, 3.5em 3.5em 0 -3em #fff,
    0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff, -5em 0 0 -2.7em #fff,
    -3.5em -3.5em 0 -3em #fff;
}

img,
.social ul,
.nav.navbar-nav,
.what-i-m-doing,
.progress-bar span,
.hobbies-and-interests {
  user-select: none;
}

.what-i-m-doing .name {
  user-select: text;
}

.highlighter-rouge {
  margin-bottom: 20px;
}

.blog table {
  margin-bottom: 28px;
}

.blog table,
.blog th,
.blog tr,
.blog td {
  border: 1px solid #333333;
}

.blog th,
.blog tr,
.blog td {
  padding: 10px;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

a {
  color: var(--blue);
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus,
a:active {
  color: var(--blue-hover);
  text-decoration: none;
  outline: none;
}

td > a:hover,
td > a:focus,
td > a:active {
  color: var(--blue-hover) !important;
  text-decoration: none;
  outline: none;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-weight-m {
  font-weight: 600;
  color: var(--bold-text);
}

.social ul {
  padding: 0;
  margin: 12px 0;
}

.social li {
  display: inline-block;
  list-style: none;
}

.icons {
  display: inline-block;
  font-size: 16px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0px 7px 7px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}

.icons:first-child {
  margin-left: 0px;
}

.btn {
  border-style: solid;
  border-width: 1px;
  padding: 0px 20px;
  line-height: 38px;
  font-size: 17px;
  border-radius: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.width-td {
  width: 130px;
  vertical-align: text-top;
}

.title-resume {
  margin-bottom: 30px;
}

.title-contact {
  margin-bottom: 30px;
}

.title-blog,
.title-post {
  margin-bottom: 0px;
  margin-top: -10px;
  font-size: 27px;
}

.title-blog a,
.title-post a {
  color: var(--text);
}

.title-post {
  margin-bottom: -25px;
  line-height: 48px;
}

.content-blog {
  line-height: 1.5em;
  font-size: 16px;
  color: var(--blog-text);
}

.widget-blog {
  background-color: var(--bg);
  width: 32%;
  margin-top: 40px;
  padding-left: 30px;
  padding-bottom: 15px;
}

@media (max-width: 1199px) {
  .widget-blog {
    width: 100%;
    margin-top: -18px;
  }
}

@media screen and (max-width: 991px) {
  .widget-blog {
    margin-top: 2px;
  }
}

.widget-title {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 15px;
  line-height: 48px;
  margin-top: 24px;
}

.widget_categories ul {
  margin-left: -24px;
}

.widget_recent_entries ul {
  list-style: none;
  margin-left: -40px;
}

.widget_recent_entries ul li {
  margin-bottom: 16px;
}

.widget_recent_entries ul li:last-child {
  margin-bottom: 0;
}

.widget_recent_entries ul li a {
  color: var(--sidebar-title-text);
}

.widget_recent_entries ul li a span {
  color: var(--sidebar-text);
  font-size: 15px;
  margin-left: -1px;
}

.widget_recent_entries ul li a:hover span {
  color: var(--sidebar-text-hover);
}

.cat-item a {
  font-size: 16px;
  color: var(--sidebar-text);
}

.cat-item a:hover {
  color: var(--sidebar-text-hover);
}

.block-grey {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  padding: 30px;
}

.block-grey table {
  width: 100%;
}

.block-grey table td {
  line-height: 16px;
  padding-bottom: 18px;
}

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.border-top {
  border-top-width: 1px;
  border-top-style: solid;
}

.border-left {
  border-left-width: 1px;
  border-left-style: solid;
}

.border-right {
  border-right-width: 1px;
  border-right-style: solid;
}

.padding-block {
  padding-top: 48px;
  padding-bottom: 48px;
}

#wrapper {
  border-width: 1px;
  border-style: solid;
  margin: 100px auto 10px auto;
  width: 1230px;
}

.scrollToTop {
  width: 36px;
  height: 36px;
  padding: 0;
  line-height: 36px;
  text-align: center;
  position: fixed;
  bottom: 96px;
  right: -4.5px;
  display: none;
  border-radius: 50%;
}

.dark .btn.scrollToTop:hover {
  background-color: var(--blue);
}

.wrapper-card .head .logo-page {
  margin-right: 0;
  float: right;
}

.profile .head,
.resume .head,
.portfolio-header .head,
.blog .head,
.contact .head {
  border-top-width: 0;
  border-top-style: solid;
}

#contents .blog .post {
  border: 0;
  padding-bottom: 0;
}

#contents .btn-center .btn {
  margin-right: 0;
  margin-top: 0;
}

#contents .portfolio-section .btn-center .btn {
  margin-top: 15px;
}

#happy-coding {
  margin-bottom: -4px;
  font-size: 28px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none;
}

.navigation-top {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid;
}

.nav {
  float: none;
  display: block;
  text-align: center;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 0;
  line-height: 46px;
  font-weight: 600;
  font-size: 17px;
}

.nav > li {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  float: none;
  display: inline-block;
}

.nav > li:first-child {
  margin-left: 45px;
}

.top-banner {
  display: block;
  margin-top: -12px;
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  .nav > li:first-child {
    margin-left: 10px;
  }

  .content-blog {
    font-size: 16px !important;
  }

  .top-banner {
    display: none;
  }

  #happy-coding {
    margin-bottom: revert;
  }
}

.navbar-wrapper {
  margin-top: 0;
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
}

.navbar.navbar-inverse.navbar-static-top {
  background: var(--content-bg);
  margin-bottom: 0;
}

.navbar.navbar-inverse.navbar-static-top a {
  border-bottom: 2px solid;
  line-height: 48px;
}

.navbar {
  border: none;
}

.navbar.navbar-inverse.navbar-static-top a:hover {
  border-bottom: 2px solid;
  line-height: 48px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  border-bottom: 2px solid;
  font-weight: 600;
}

.home-header .foto {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  width: 232px;
  height: 232px;
  overflow: hidden;
  display: inline-block;
}

.home-header .foto img {
  width: 232px;
  height: 232px;
}

.home-header .title {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 66px;
  line-height: 72px;
  margin-top: 48px;
}

.home-header .sub-title {
  font-weight: 300;
  margin: 0;
  line-height: 34px;
  font-size: 26px;
}

.home-header .full-length-photo {
  margin-top: 24px;
}

.menu {
  padding: 48px 0;
  text-align: center;
}

.menu .menu-li {
  display: inline-block;
  width: 170px;
  margin-left: 20px;
  margin-right: 20px;
}

.menu .menu-li .foto {
  display: block;
}

.menu .menu-li .name {
  text-underline: none;
  margin-top: 13px;
  display: block;
}

.menu-style1 {
  padding: 48px 0;
  text-align: center;
}

.menu-style1 .menu-li {
  display: inline-block;
  position: relative;
  width: 170px;
  height: 170px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: #cccccc;
}

.menu-style1 .menu-li .name {
  text-underline: none;
  top: 0px;
  padding-top: 75px;
  display: block;
  text-align: center;
  width: 170px;
  height: 170px;
  font-size: 21px;
  z-index: 3;
}

.menu-style1 .menu-li .foto {
  display: block;
  overflow: hidden;
  z-index: 4;
  position: relative;
}

.menu-style1 .menu-li:hover .foto {
  margin-top: -172px;
}

.small-menu {
  margin: 125px 0 40px;
  position: relative;
}

.small-menu .arrow {
  background: url('../img/arrow.png') left top no-repeat;
  width: 300px;
  height: 200px;
  position: absolute;
  top: -35px;
  left: 95px;
}

.small-menu .open-menu {
  font-family: 'The Girl Next Door';
  position: absolute;
  font-size: 30px;
  top: 40px;
  left: 130px;
}

.icons-menu {
  height: 100px;
  margin: 0 auto;
  -webkit-filter: url('#goo');
  position: relative;
}

.icons-menu-button,
.icons-menu-toggle-button {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-left: 0;
  margin-top: 0;
  text-align: center;
  border: none;
  outline: none;
}

.icons-menu-button {
  font-size: 30px;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
}

a.icons-menu-button {
  border-style: solid;
  border-width: 1px;
}

a.icons-menu-button:hover,
a.icons-menu-button:focus,
.icons-menu-toggle-button:hover {
  border-style: solid;
  border-width: 1px;
}

.icons-menu-toggle-button {
  z-index: 9;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
}

.icons-menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.icons-menu-item {
  display: inline-block;
}

.menu-style3 title {
  text-align: center;
}

.footer {
  line-height: 36px;
  padding: 17px 0;
  border-top-width: 1px;
  border-top-style: solid;
  font-size: 16px;
}

.head {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.head .title {
  font-size: 41px;
  line-height: 48px;
  margin: 0;
}

.head h2,
.head .sub-title {
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
}

.head .logo-page {
  margin-right: 30px;
  float: left;
}

.head .btn-close {
  width: 36px;
  height: 36px;
  margin-top: 16px;
  margin-right: 16px;
  background-image: url('../img/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
  cursor: pointer;
}

.head .btn-close:hover {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.head .btn-close-search {
  width: 36px;
  height: 36px;
  margin-top: 16px;
  margin-right: 16px;
  background-image: url('../img/close-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
  cursor: pointer;
}

.head .btn-close-search:hover {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.head .social ul {
  margin: 18px 0;
}

.head .social li {
  margin: 0 0 0 12px;
}

.head .social a {
  margin: 0;
}

.head .foto {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  width: 70px;
  height: 70px;
  overflow: hidden;
  display: inline-block;
  margin-right: 30px;
}

.title-header {
  font-weight: 700;
  font-size: 41px;
  margin: 0;
}

.sub-title-header {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.home-content .title-header {
  text-align: center;
  margin-top: 10px;
}

.home-content .sub-title-header {
  text-align: center;
}

.home-content .container {
  width: 100%;
}

.home-content .row,
.home-content .col-lg-7,
.home-content .col-lg-5 {
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}

.home-content a .port-item-cont {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  padding-bottom: 0;
  opacity: 0;
}

.home-content a:hover .port-item-cont,
.home-content a .port-item-cont.touch {
  opacity: 1;
  padding-top: 2%;
}

.menu-style3 {
  margin: 68px 0;
}

.menu-style3 .title-header {
  line-height: 41px;
}

.menu-style3 .sub-title-header {
  line-height: 16px;
}

.menu-style3 ul {
  padding-left: 0;
}

.menu-style3 li {
  display: block;
  text-align: center;
  min-height: 75px;
}

.menu-style3 a {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.foto-content-man {
  background-position: top center;
  margin: 0;
  padding: 0;
  float: none;
  height: 536px;
}

.menu-style4 {
  width: 100%;
}

.menu-style4 ul {
  list-style: none;
  padding-left: 85px;
  margin: 98px 0;
}

.menu-style4 li {
  margin: 40px 0;
}

.menu-style4 .title-header {
  display: inline-block;
  position: absolute;
  padding-left: 30px;
  line-height: 36px;
  margin: 0;
}

.menu-style4 span {
  vertical-align: middle;
  position: relative;
  margin: 0;
}

.foto-content-woman {
  background-position: top center;
  margin: 0;
  padding: 0;
  float: none;
  height: 536px;
}

.content .title {
  margin: 0;
  line-height: 26px;
  margin-bottom: 16px;
}

.content .title1 {
  margin: 10px auto;
}

.owl-theme p {
  padding: 0;
  margin: 0;
}

.owl-theme .owl-controls .owl-buttons div {
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  padding: 0;
  display: inline-block;
  zoom: 1;
  margin: 0 10px 0 0;
  border-radius: 50%;
  opacity: 1;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}

.owl-theme .owl-controls {
  margin-top: 20px;
  text-align: left;
}

.skills .title {
  margin: 0;
  line-height: 26px;
  margin-bottom: 16px;
}

.skills .title-skills {
  margin-bottom: 30px;
}

.skills .progress-bar-label {
  font-size: 17px;
  font-weight: 600;
  color: var(--bold-text);
  margin-bottom: 10px;
}

.skills .progress-bar {
  border-width: 1px;
  border-style: solid;
  line-height: 8px;
  position: relative;
  box-shadow: none;
}

.skills .progress {
  height: 10px;
  margin-bottom: 24px;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  box-shadow: none;
  overflow: visible;
}

.skills .progress-bar span {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-weight: 300;
  position: absolute;
  top: -16px;
  right: -20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.skills .circle-progress-block {
  text-align: center;
  width: 160px;
  display: inline-block;
  margin-left: 25px;
}

.skills .circle-progress-block input {
  font-size: 21px !important;
  font-weight: 300 !important;
  margin-top: 25px !important;
  margin-left: -135px !important;
  border-radius: 50%;
  width: 110px !important;
  height: 110px !important;
}

.skills .circle-progress-label {
  font-size: 17px;
  font-weight: 600;
  color: var(--bold-text);
  margin-top: 0;
  margin-bottom: 0;
}

.skills .row:first-of-type {
  margin-bottom: 30px;
}

.language-skills .progress {
  height: 40px;
  margin-bottom: 10px;
  position: relative;
}

.language-skills .progress-bar-label {
  margin-left: 20px;
  line-height: 40px;
}

.ratyli {
  position: absolute;
  right: 20px;
  top: 10px;
}

.ratyli .rate {
  font-size: 20px;
  line-height: 20px;
  margin-left: 3px;
}

.knowledge .col-xs-12,
.knowledge .col-sm-12,
.knowledge .col-lg-6 {
  padding-left: 0;
  margin-bottom: 0;
}

.skills ul {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.skills ul li {
  list-style-type: none;
  line-height: 16px;
  margin-bottom: 18px;
}

.portfolio .mix {
  margin-bottom: 30px;
  padding: 0;
}

.portfolio .within {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  border-width: 1px;
  border-style: solid;
}

.portfolio ul,
.portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.portfolio li {
  display: inline-block;
  margin: 5px;
  font-size: 17px;
  cursor: pointer;
  line-height: 34px;
  padding: 0 12px;
  border-width: 1px;
  border-style: solid;
}

.portfolio li:first-child {
  margin-left: 0;
}

.portfolio ul {
  margin-bottom: 30px;
}

.portfolio img {
  width: 100%;
}

.portfolio-item .port-item-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 45%;
  opacity: 0;
}

.portfolio-item:hover .port-item-cont,
.portfolio-item .port-item-cont.touch {
  opacity: 1;
  padding-top: 25%;
}

.portfolio-item .title {
  font-size: 26px;
  line-height: 48px;
  margin: 0;
}

.portfolio-item a.view-work {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  padding: 7px 20px;
  border-width: 1px;
  border-style: solid;
}

.portfolio-item a.view-video {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  padding: 7px 20px;
  border-width: 1px;
  border-style: solid;
}

.portfolio-item .desc {
  margin-top: 12px;
  margin-bottom: 24px;
}

.podrt-desc {
  max-width: 770px;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  top: 0;
}

.podrt-desc p,
.podrt-desc .title {
  padding: 20px;
  padding-bottom: 0;
}

.podrt-desc .title {
  font-size: 26px;
  margin: 0;
  text-align: left;
  font-weight: 600;
  padding: 0px 0px 24px;
  line-height: 26px;
}

.podrt-desc p {
  margin: 0;
  padding: 16px 0px;
}

.podrt-desc img {
  width: 100%;
  object-fit: cover;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.podrt-desc td {
  padding: 5px 0;
}

.modal-box-content {
  position: relative;
}

.modal-box-content .text {
  padding: 48px 30px;
}

.mfp-close {
  visibility: collapse;
}

.fancybox-close {
  position: absolute;
  top: 0;
  right: -32px;
  z-index: 8040;
}

#fancybox-loading,
.fancybox-close {
  opacity: 1;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 48px;
  padding: 0;
  font-size: 21px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 180%;
  background-position: center;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.fancybox-skin a:hover {
  text-decoration: none;
  color: #ffffff;
}

.fancybox-nav {
  width: 0;
  height: 0;
}

.fancybox-nav span {
  opacity: 1;
  position: fixed;
  top: 50%;
  width: 14px;
  height: 14px;
  margin-top: 0;
  cursor: pointer;
  z-index: 8040;
  visibility: visible;
}

#fancybox-loading,
.fancybox-next span,
.fancybox-prev span {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  visibility: visible;
  display: inline-block;
  font: normal normal normal 14px/1 'FontAwesome';
  font-size: 36px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fancybox-next span,
.fancybox-prev span,
.fancybox-next {
  background-position: 0 0;
}

#fancybox-loading,
.fancybox-prev span:before {
  content: '\f104';
}

.fancybox-prev span {
  margin-left: 3%;
  left: 18px;
}

#fancybox-loading,
.fancybox-next span:before {
  content: '\f105';
}

.fancybox-next span {
  margin-right: 3%;
  right: 18px;
}

.fancybox-overlay {
  background-image: none;
}

.fancybox-outer {
  top: 0;
  bottom: 0;
}

.fancybox-wrap {
  position: relative;
}

.fancybox-inner {
  overflow: auto;
  width: 787px;
  height: auto;
}

.category-head {
  margin-top: -22px;
}

.info .title {
  margin: 0 auto 30px;
}

.info .circle-block {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.info .circle-block .icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  display: block;
  margin-bottom: 24px;
}

.info .circle-block .name {
  font-weight: 600;
  color: var(--bold-text);
}

#wrapper .content .green-marker {
  margin-right: 15px;
  font-size: 14px;
}

#wrapper .content .red-marker {
  margin-right: 15px;
  font-size: 14px;
}

#wrapper .content .orange-marker {
  margin-right: 15px;
  font-size: 14px;
}

.instagram-feed .title {
  margin: 0 auto 30px;
}

.instagram-feed .instagram-foto {
  width: 100%;
}

.instagram-feed .row {
  margin: 0;
}

.instagram-feed .col-lg-2 {
  padding: 0;
}

.my-thoughts .title {
  margin: 0 auto 30px;
}

.my-thoughts .thoughts {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.my-thoughts .sub-title {
  margin-bottom: 0;
  font-size: 17px;
  line-height: 24px;
  margin-top: 24px;
}

.my-thoughts .icons {
  cursor: default;
}

.slider_container .head.search-head {
  line-height: 50px;
}

.head .flex-direction-nav li a.next {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 0;
  margin-top: 16px;
  margin-right: 7px;
  background: url('../img/search-grey.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
  cursor: pointer;
}

.head .flex-direction-nav li a.next:hover {
  background-color: transparent;
}

.head .flex-direction-nav li a.prev {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 0;
  margin-top: 16px;
  margin-right: 16px;
  background: url('../img/close-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
  cursor: pointer;
}

.head .flex-direction-nav li a.prev:hover {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.shr {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
  padding-left: 10px;
  display: inline-flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: -10px;
  display: flex;
  padding-left: 0;
  margin-left: -6px !important;
}

.shr:after {
  content: '';
  display: block;
  clear: both;
}

.shr li {
  display: inline;
  margin: 0 5px;
}

.shr li:hover {
  cursor: pointer;
}

.shr a li {
  display: inline-block;
  position: relative;
  margin: 0 5px 10px 5px;
}

.shr a li i {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #333333;
  margin-top: 9px;
  margin-right: 0 !important;
}

.shr li.facebook {
  border-color: #3b5998;
}

.shr li.twitter {
  border-color: #55acee;
}

.shr li.linkedin {
  border-color: #0077b5;
}

.shr li.email {
  border-color: #7d7d7d;
}

.shr li.reddit {
  border-color: #ff4500;
}

.shr a li.facebook i {
  color: #3b5998 !important;
}

.shr a li.twitter i {
  color: #55acee !important;
}

.shr a li.linkedin i {
  color: #0077b5 !important;
}

.shr a li.email i {
  color: #7d7d7d !important;
}

.shr a li.reddit i {
  color: #ff4500 !important;
}

.shr li {
  width: 36px;
  height: 36px;
  border: 1px solid #333333;
  border-radius: 50%;
  margin-bottom: 10px;
  opacity: 40%;
  display: flex;
}

.shr li:hover {
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  #toggle {
    top: 40px;
    right: 20px;
  }

  .dark .toggle {
    background-color: #1a1a1a;
  }

  .dark .toggle .moon {
    background-color: #1a1a1a;
  }

  .shr {
    display: grid !important;
    z-index: 1;
    right: 0;
    bottom: 0;
    line-height: 40px;
    text-align: center;
    position: fixed;
    bottom: 142px;
    right: 0;
  }

  #portfolio-grid {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .padding-lr-45 {
    padding-right: 45px;
  }

  .modal-box-content tr {
    display: grid;
  }
}

@media screen and (max-width: 767px) {
  .port-item-cont .title,
  .port-item-cont .desc {
    display: none;
  }

  .port-item-cont {
    padding-top: 0 !important;
    display: flex;
  }

  .portfolio-item a.view-work,
  .portfolio-item a.view-video {
    align-self: center;
    margin: 0 auto;
  }
}

.blog .post {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 48px;
  margin-bottom: 6px;
}

.blog .post.last,
.blog .post.one-post {
  border: 0;
  padding-bottom: 0;
  margin-bottom: 48px;
}

.blog .post .photo {
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.blog .post .photo img {
  width: 100%;
  position: relative;
}

.blog .post .photo:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.blog .post .txt-quote {
  width: 100%;
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  font-weight: 500;
}

.blog .post .txt-quote:before {
  content: '\f10e';
  font-family: 'FontAwesome';
  display: inline-block;
  width: 1.2em;
  margin-right: 8px;
}

.post .entry-byline {
  margin: 10px 0 15px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 32px;
}

.post .entry-byline .fa {
  margin-right: 5px;
}

.post .entry-byline a,
.post .entry-byline span,
.post .entry-byline time {
  font-size: 15px;
}

.post .entry-byline .right-border {
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 8px;
  margin-right: 11px;
  color: var(--blog-date-text) !important;
}

.blog .pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.post-pagination .pre,
.post-pagination .next {
  font-weight: 300;
  margin-right: 0;
}

.blog .pagination .page {
  flex: 1 1 auto;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
}

.blog .pagination .previous,
.blog .pagination .next {
  flex: 0 0 auto;
  margin-right: 0;
}

.blog .post-pagination {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1199px) {
  .blog .post-pagination {
    margin-top: 25px;
    margin-bottom: 52px;
  }
}

@media screen and (max-width: 991px) {
  .blog .post-pagination {
    margin-bottom: 32px;
  }
}

.blog .post-comments {
  margin-top: 24px;
}

.blog .post-comments h3 {
  margin: 0;
  padding: 5px 0;
  margin-bottom: 24px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.blog .post-comments .user-img {
  width: 100%;
}

.blog .post-comments .user-name {
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.blog .post-comment-txt {
  padding: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  position: relative;
}

.blog .post-comment-txt:after,
.blog .post-comment-txt:before {
  right: 100%;
  top: 25%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.blog .post-comment-txt:after {
  border-width: 8px;
  margin-top: -8px;
}

.blog .post-comment-txt:before {
  border-width: 9px;
  margin-top: -9px;
}

.blog .reply-post {
  margin-left: 20px;
}

.blog .post-comment-txt .comment-time {
  font-weight: 600;
  float: left;
  display: block;
}

.blog .post-comment-txt .reply {
  text-align: right;
  float: right;
  display: block;
}

.blog .post-comment-txt .comment-reply-link {
  font-weight: 600;
}

.blog .leave-comment {
  margin-top: 18px;
}

.blog .leave-comment h3 {
  margin: 0;
  padding: 5px 0;
  margin-bottom: 24px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.blog .leave-comment .input-contact {
  width: 100%;
  line-height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 20px;
  outline: none;
}

.blog .leave-comment textarea {
  height: 100px;
  padding: 18px;
  line-height: 20px !important;
}

.blog .leave-comment .btn {
  margin: 0;
}

.post p {
  line-height: 1.5;
  margin: 0 0 20px;
}

.post h5 {
  font-size: 23px;
  margin: 0 0 15px 0;
}

.post ul,
.post li {
  line-height: 1.75;
}

.video-container {
  position: relative;
  padding-bottom: 51.25%;
  padding-top: 30px;
  margin-bottom: 17px;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.total-numbers {
  text-align: left;
}

.total-numbers .iconspace {
  display: block;
  float: left;
  width: 80px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  position: relative;
}

.total-numbers .iconspace:after,
.total-numbers .iconspace:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.total-numbers .iconspace:after {
  border-width: 7px;
  margin-top: -7px;
}

.total-numbers .iconspace:before {
  border-width: 8px;
  margin-top: -8px;
}

.total-numbers .info-text {
  line-height: 34px;
  margin: 0 0 0 20px;
  float: left;
}

.total-numbers .sum {
  font-size: 40px;
  font-weight: 600;
  color: var(--bold-text);
  display: block;
}

.animated {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.home-header .icons .fa {
  margin-right: 1px;
}

.footer .icons .fa {
  padding-left: 2px;
}
