.syntax .hll {
  background-color: #f5f4f1;
}

.syntax {
  background: #f8f8f8;
  color: #272822;
  padding: 30px;
  border: 0;
  border-radius: 0;
}

.syntax .c {
  color: #8d8687;
}

.syntax .err {
  color: #ef6155;
}

.syntax .k {
  color: #ea80fc;
}

.syntax .l {
  color: #f99b15;
}

.syntax .n {
  color: #2f1e2e;
}

.syntax .o {
  color: #5bc4bf;
}

.syntax .p {
  color: #2f1e2e;
}

.syntax .cm {
  color: #8d8687;
}

.syntax .cp {
  color: #8d8687;
}

.syntax .c1 {
  color: #8d8687;
}

.syntax .cs {
  color: #8d8687;
}

.syntax .gd {
  color: #ef6155;
}

.syntax .ge {
  font-style: italic;
}

.syntax .gh {
  color: #2f1e2e;
  font-weight: bold;
}

.syntax .gi {
  color: #48b685;
}

.syntax .gp {
  color: #8d8687;
  font-weight: bold;
}

.syntax .gs {
  font-weight: bold;
}

.syntax .gu {
  color: #5bc4bf;
  font-weight: bold;
}

.syntax .kc {
  color: #ea80fc;
}

.syntax .kd {
  color: #ea80fc;
}

.syntax .kn {
  color: #5bc4bf;
}

.syntax .kp {
  color: #ea80fc;
}

.syntax .kr {
  color: #ea80fc;
}

.syntax .kt {
  color: #ffab40;
}

.syntax .ld {
  color: #48b685;
}

.syntax .m {
  color: #f99b15;
}

.syntax .s {
  color: #48b685;
}

.syntax .na {
  color: #06b6ef;
}

.syntax .nb {
  color: #2f1e2e;
}

.syntax .nc {
  color: #ffab40;
}

.syntax .no {
  color: #ef6155;
}

.syntax .nd {
  color: #5bc4bf;
}

.syntax .ni {
  color: #2f1e2e;
}

.syntax .ne {
  color: #ef6155;
}

.syntax .nf {
  color: #06b6ef;
}

.syntax .nl {
  color: #2f1e2e;
}

.syntax .nn {
  color: #ffab40;
}

.syntax .nx {
  color: #06b6ef;
}

.syntax .py {
  color: #2f1e2e;
}

.syntax .nt {
  color: #5bc4bf;
}

.syntax .nv {
  color: #ef6155;
}

.syntax .ow {
  color: #5bc4bf;
}

.syntax .w {
  color: #2f1e2e;
}

.syntax .mf {
  color: #f99b15;
}

.syntax .mh {
  color: #f99b15;
}

.syntax .mi {
  color: #f99b15;
}

.syntax .mo {
  color: #f99b15;
}

.syntax .sb {
  color: #48b685;
}

.syntax .sc {
  color: #2f1e2e;
}

.syntax .sd {
  color: #8d8687;
}

.syntax .s2 {
  color: #48b685;
}

.syntax .se {
  color: #f99b15;
}

.syntax .sh {
  color: #48b685;
}

.syntax .si {
  color: #f99b15;
}

.syntax .sx {
  color: #48b685;
}

.syntax .sr {
  color: #48b685;
}

.syntax .s1 {
  color: #48b685;
}

.syntax .ss {
  color: #48b685;
}

.syntax .bp {
  color: #2f1e2e;
}

.syntax .vc {
  color: #ef6155;
}

.syntax .vg {
  color: #ef6155;
}

.syntax .vi {
  color: #ef6155;
}

.dark .syntax {
  background: #1a1a1a;
  color: #f9f8f5;
  border: 0;
}

.dark .syntax .hll {
  background-color: #49483e;
}

.syntax .il {
  color: #f99b15;
}

.dark .syntax .c {
  color: #75715e;
}

.dark .syntax .err {
  color: #f92672;
}

.dark .syntax .k {
  color: #ae81ff;
}

.dark .syntax .l {
  color: #fd971f;
}

.dark .syntax .n {
  color: #f9f8f5;
}

.dark .syntax .o {
  color: #a1efe4;
}

.dark .syntax .p {
  color: #f9f8f5;
}

.dark .syntax .cm {
  color: #75715e;
}

.dark .syntax .cp {
  color: #75715e;
}

.dark .syntax .c1 {
  color: #75715e;
}

.dark .syntax .cs {
  color: #75715e;
}

.dark .syntax .gd {
  color: #f92672;
}

.dark .syntax .ge {
  font-style: italic;
}

.dark .syntax .gh {
  color: #f9f8f5;
  font-weight: bold;
}

.dark .syntax .gi {
  color: #a6e22e;
}

.dark .syntax .gp {
  color: #75715e;
  font-weight: bold;
}

.dark .syntax .gs {
  font-weight: bold;
}

.dark .syntax .gu {
  color: #a1efe4;
  font-weight: bold;
}

.dark .syntax .kc {
  color: #ae81ff;
}

.dark .syntax .kd {
  color: #ae81ff;
}

.dark .syntax .kn {
  color: #a1efe4;
}

.dark .syntax .kp {
  color: #ae81ff;
}

.dark .syntax .kr {
  color: #ae81ff;
}

.dark .syntax .kt {
  color: #f4bf75;
}

.dark .syntax .ld {
  color: #a6e22e;
}

.dark .syntax .m {
  color: #fd971f;
}

.dark .syntax .s {
  color: #a6e22e;
}

.dark .syntax .na {
  color: #66d9ef;
}

.dark .syntax .nb {
  color: #f9f8f5;
}

.dark .syntax .nc {
  color: #f4bf75;
}

.dark .syntax .no {
  color: #f92672;
}

.dark .syntax .nd {
  color: #a1efe4;
}

.dark .syntax .ni {
  color: #f9f8f5;
}

.dark .syntax .ne {
  color: #f92672;
}

.dark .syntax .nf {
  color: #66d9ef;
}

.dark .syntax .nl {
  color: #f9f8f5;
}

.dark .syntax .nn {
  color: #f4bf75;
}

.dark .syntax .nx {
  color: #66d9ef;
}

.dark .syntax .py {
  color: #f9f8f5;
}

.dark .syntax .nt {
  color: #a1efe4;
}

.dark .syntax .nv {
  color: #f92672;
}

.dark .syntax .ow {
  color: #a1efe4;
}

.dark .syntax .w {
  color: #f9f8f5;
}

.dark .syntax .mf {
  color: #fd971f;
}

.dark .syntax .mh {
  color: #fd971f;
}

.dark .syntax .mi {
  color: #fd971f;
}

.dark .syntax .mo {
  color: #fd971f;
}

.dark .syntax .sb {
  color: #a6e22e;
}

.dark .syntax .sc {
  color: #f9f8f5;
}

.dark .syntax .sd {
  color: #75715e;
}

.dark .syntax .s2 {
  color: #a6e22e;
}

.dark .syntax .se {
  color: #fd971f;
}

.dark .syntax .sh {
  color: #a6e22e;
}

.dark .syntax .si {
  color: #fd971f;
}

.dark .syntax .sx {
  color: #a6e22e;
}

.dark .syntax .sr {
  color: #a6e22e;
}

.dark .syntax .s1 {
  color: #a6e22e;
}

.dark .syntax .ss {
  color: #a6e22e;
}

.dark .syntax .bp {
  color: #f9f8f5;
}

.dark .syntax .vc {
  color: #f92672;
}

.dark .syntax .vg {
  color: #f92672;
}

.dark .syntax .vi {
  color: #f92672;
}

.dark .syntax .il {
  color: #fd971f;
}
