<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div id="toggle" class="toggle">
      <div class="moon"></div>
    </div>

    <script>
      let theme = localStorage.getItem('theme') || 'light';
      document.body.className = theme;
    </script>

    {% if site.development == false %} {% if site.google.analytics %}
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id={{ site.google.tag_manager }}"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      >
      </iframe>
    </noscript>
    {% endif %} {% endif %} {% include navigation.html %}

    <div id="contents" class="contents">
      <div id="wrapper" class="wrapper-card">
        {% include header.html %} {{ content }} {% include footer.html %}
      </div>
    </div>

    <a href="#" class="btn scrollToTop">
      <i class="fa fa-angle-up"></i>
    </a>

    {% include scripts.html %}
  </body>
</html>
